<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'staff/images/favicon.ico' %}">
    <title>Student Attainment Reporting system</title>
    <link rel="stylesheet" href="{%static 'staff/css/department.css'%}">
</head>
<body>
<div >
        <form id="forgotForm" method="post">
            {%csrf_token%}
            <label>Enter Last Password:</label>
            {{form.old_password}}
            <label>Enter New Password:</label>
            {{form.new_password1}}
            <label>Confirm New Password:</label>
            {{form.new_password2}}
            {{form}}
            <button type="submit" onclick="return confirm('Are You Sure Want To Change Password?');">change</button>
        </form>
    </div>
</body>
</html>